{% include 'onroad/header.html' %}
	<script type="text/javascript">
function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}
function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}


</script>

   {% block content %}
 <ul class="listview image-listview flush transparent mt-3 mb-2">
            <li>
                <a href="{% url 'all_business_details' %}"  class="item">
                    <div class="icon-box bg-primary">
                         <ion-icon name="add-outline"></ion-icon>

                    </div>
                    <div class="in">
                        Find On Road Services
                    </div>
                </a>
            </li>
			
			  <li>
                <a href="{% url 'my_payment' %}"  class="item">
                    <div class="icon-box bg-primary">
                         <ion-icon name="clipboard"></ion-icon>

                    </div>
                    <div class="in">
                        My Payment History
                    </div>
                </a>
            </li>
            <li>
                <a href="{% url 'userpage' %}"   class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon name="person-outline"></ion-icon>
                    </div>
                    <div class="in">
                       My Profile
                    </div>
                </a>
            </li>
             
            </ul>
       
        
    <!-- * App Sidebar -->
     {% if error %}
{{ error }}

{% endif %}

{% endblock %}


    <!-- iOS Add to Home Action Sheet -->
   
    <!-- * iOS Add to Home Action Sheet -->
    <!-- Android Add to Home Action Sheet -->
   
    <!-- * Android Add to Home Action Sheet -->


    <!-- ============== Js Files ==============  -->
    <!-- Bootstrap -->
  